@use '../abstracts/variables' as v;

.button {
    width: 100%;
    padding: 1.2rem;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: v.$font-italic;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: inherit;

    &--silver {
        background-color: #ffffff;
        color: #000;
    }

    &--return {
        padding: .5rem;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 3rem;
    }

    &--menu {
        position: fixed;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 3%;
        left: 5%;
        background-color: #5e5140;
        width: fit-content;
        border: none;
        box-shadow: 0 3px 3px 2px rgba(255, 255, 255, .2);
    }
}