@use '../abstracts/variables' as v;

.footer {
  border-top: 1px solid #333;
  width: 100%;
  padding: 3rem 0;
  background-color: v.$bg-color;
  text-align: center;
  font-family: v.$font-text;
  color: v.$text-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;

  &__icons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__icon {
    width: 45px;
    height: 45px;
    background: v.$brown-color;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: v.$text-color;
    transition: 0.3s;

    &:hover {
      transform: scale(1.08);
      opacity: 0.85;
    }
  }

  &__logo {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 12px;
    filter: grayscale(.4) brightness(1.2);
    transition: 0.3s;

    &:hover {
      filter: grayscale(0.3) brightness(1);
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  &__btn {
    width: fit-content;
    margin-top: 1rem;
    padding: 0.6rem 1.6rem;
    font-size: 1.3rem;
    background: transparent;
    color: v.$text-color;
    border: 1px solid v.$text-color;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background: v.$text-color;
      color: v.$bg-color;
    }
  }
}
