@use '../abstracts/variables' as v;

.swiper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 5rem;

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32rem;
        width: 100%;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background-color: v.$brown-color;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
}