@use '../abstracts/variables' as v;

.hero {
    margin-top: 5rem;
    height: 100svh;    
    text-transform: uppercase;
    position: relative;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 30vh;
        width: 100%;
        background-image: linear-gradient(to bottom, transparent, #000);
    }

    &__video {
        height: 30vh;
        object-fit: cover;
        width: 100%;
    }
    
    &__title {
        position: relative;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__img {
        margin-top: -1.5rem;
    }

    &__text {
        font-weight: 300;
        margin-top: -1rem;
        text-align: center;
    }

    &__career {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__date {
        margin-top: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        span:nth-child(2) {
            padding: .2rem 1rem;
            border-left: 2px solid currentColor;
            border-right: 2px solid currentColor;
            font-size: 3.2rem;
            font-weight: bold;
        }
    }

    &__location {
        text-align: center;
        margin-top: 2rem;
        font-weight: 500;
    }

    &__number {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12rem;
        font-weight: 900;
        letter-spacing: 5px;
        opacity: .15;
    }

}   

.phrase {
    padding: 2rem;
    background-color: v.$brown-color;
    text-align: center;

    &__container {
        padding: 4rem 2rem;
    }

    &__text {
        width: 100%;
        margin: 0 auto;
        line-height: 1.7;
    }
    
    &__top {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__icon {
        margin-bottom: 1.2rem;
        width: 4rem;
    }

    &__image-box {
        display: inline-block;
        background: #fff;
        padding: 1rem 1rem 2.5rem;  
        margin-top: 4.8rem;
        border-radius: 0.5rem;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25); 
        transform: rotate(-5deg);  
        transition: all .3s ease;

        img {
            width: 100%;
            display: block;
            border-radius: 0.25rem;
        }

        &:hover {
            transform: rotate(0deg) scale(1.02);
            box-shadow: 0 10px 28px rgba(0,0,0,0.30);
        }
    }
}

.student {
    padding: 5rem 0;

    &__ball {
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 8rem;
            margin-bottom: 2rem;
            animation: pulse 4s ease infinite;
        }
    }

    &__button {
        width: 90%;
        margin: 0 auto;
    }

    &__name {
        margin: 3rem 0;
        font-size: 2.4rem;
    }
    
    &__top {
        width: 20rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__title {
        text-align: center;
    }

    &__arrow {
        margin-top: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 5rem;
        }
    }

}

.timer {
    padding-bottom: 4rem;
    
    &__header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        img {
            width: 20rem;
        }
    }
    
    &__grid {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__box {
        width: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: v.$brown-color;
        padding: 1rem;
    }

    &__box:nth-child(even) {
        margin-bottom: -4rem;
    }

    &__number {
        font-size: 3rem;
        font-weight: bold;
    }

    &__arrow {
        margin-top: 6.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            transform: rotate(-180deg);
            width: 5rem;
        }
    }
}

.location {

    padding: 6.4rem 0 4rem 0;
    background-color: v.$brown-color;

    &__title {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
        img {
            width: 20rem;
        }
    }

    &__list {
        margin-bottom: 2rem;
    }

    &__item {
        padding: 1.5rem;
    }

    &__concept {
        text-align: center;
        font-size: 2.4rem;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
    }
    
    &__image {
        width: 100%;
        height: 30rem;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    &__place {
        margin-bottom: 2rem;
    }

    &__salon {
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        img {
            width: 10rem;
        }
    }

    &__time {
        display: flex;
        justify-content: center;
        font-size: 2.4rem;
        font-family: v.$font-italic;
        font-weight: bold;
        letter-spacing: 2px;
    }

    &__item:not(:last-child) {
        margin-bottom: 3rem;
    }
    
}

.students {
    background-attachment: fixed;
    padding-bottom: 5rem;
    padding-top: 13rem;

    &__title {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.4rem;
        img {
            width: 20rem;
        }
    }

    &__container {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-content: center;

        img {
            margin-top: -7rem;
            margin-bottom: 2rem;
            width: 10rem;
        }
    }

    &__arrow {
        margin-top: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 4rem;
        }
    }

    &__button {
        width: 90%;
        margin: 0 auto;
        margin-top: 3.2rem;
    }
}

.itinerary {
    padding: 5rem 0;
    background-color: v.$brown-color;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        img {
            width: 20rem;
        }
    }

    &__list {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item:nth-child(even) {
        margin-left: 6.4rem;
    }

    &__item:nth-child(odd) {
        margin-right: 6.4rem;
    }

    &__hour {
        font-family: v.$font-italic;
        font-size: 2.4rem;
        font-weight: bold;
    }

    &__concept {
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    &__icon {
        background-color: #000;
        padding: 1rem;
        border-radius: 50%;
        font-size: 3.2rem;
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, .5);
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 4rem;
            margin-top: 4rem;
            transform: rotate(90deg);
        }
    }
}

.farewell {
    position: relative;
    padding: 5rem 2rem;
    overflow: visible;

     &__lettering {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        img {
            width: 15rem;
        }
    }

    &__image-box {
        display: inline-block;
        background: #fff;
        padding: 1rem 1rem 2.5rem;  
        margin: 2rem 0;
        border-radius: 0.5rem;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25); 
        transition: all .3s ease;
        transform: rotate(-2deg);

        img {
            width: 100%;
            display: block;
            border-radius: 0.25rem;
        }

        &:hover {
            transform: rotate(0deg) scale(1.02);
            box-shadow: 0 10px 28px rgba(0,0,0,0.30);
        }
    }
}