@use '../abstracts/variables' as v;

.ticket {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 90%;
        margin: 0 auto;
    }

    &__icon {
        width: 10rem;
    }

    &__no-ticket {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    &__expr {
        font-size: 4rem;
        font-weight: bold;
        line-height: 1;
    }
}

.ticket-main {
    color: #000;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 2rem;
    
    &__image {
        height: 14rem;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 45%;
        position: relative;
    }

    &__content {
        padding: 2rem;
    }
    
    &__event, &__career {
        position: absolute;
        background-color: #5e5140;
        color: #fff;
        padding: .2rem 1rem;
        border-radius: 10rem;
    }
    
    &__event {
        top: 5%;
        left: 2%;
    }

    &__career {
        font-weight: bold;
        bottom: 5%;
        right: 1%;
    }
    
    &__name {
        font-size: 1.8rem;
        text-transform: uppercase;
        text-align: center;
    }
    
    &__ticket {
        margin: 1.4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 22rem;
        }
    }

    &__meta {
        text-align: center;
        font-family: v.$font-italic;
        font-size: 2rem;
    }

}

.ticket-quantity {
    padding: 2rem;
    color: #000;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 2rem;

    &__title {
        text-align: center;
        border-radius: 10px;
        padding: .5rem 1rem;
        color: #fff;
        background-color: #5e5140;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2rem;
    }

    &__concept {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        font-family: v.$font-italic;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
    }

    &__number {
        font-size: 3.6rem;
        font-weight: bold;
    }

    &__message {
        text-align: center;
    }
}

.ticket-extra {
    padding: 2rem;
    color: #000;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 5rem;

    &__title {
        text-align: center;
        border-radius: 10px;
        padding: .5rem 1rem;
        color: #fff;
        background-color: #5e5140;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    &__item {
        font-weight: bold;

        span {
            font-weight: normal;
        }
    }

    &__item:last-child {
        span {
            color: red;
            font-weight: bold;
        }
    }

    &__message {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
    }
}

.ticket-table {
    padding: 2rem;
    color: #000;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 2rem;

    &__title {
        text-align: center;
        border-radius: 10px;
        padding: .5rem 1rem;
        color: #fff;
        background-color: #5e5140;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
}