@use './base/globals';
@use './base/helpers';
@use './base/typography';

@use './abstracts/animations';
@use './abstracts/variables';

@use './components/button';
@use './components/loader';
@use './components/swiper';
@use './components/music';
@use './components/modal';
@use './components/footer';
@use './components/menu';
@use './components/alert';

@use './pages/invitation';
@use './pages/graduates';
@use './pages/ticket';
@use './pages/login';

@use './base/utilities';